

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

fieldset {
	/* min-width: 0; */
	padding: 0.5em;
	/* margin: 0 0 0 1em; */
	border-width: 1px;
	border-style: dashed;
	border-color: #26418F;
	border-top: none;
	border-left: none;
	border-right: none;
}

.dropdown-menu {
    border: 1px #5C6BC0 solid !important;
    top: 40px;
    left: -3em;
}

.footer {
	font-size: 10px;
	color: #9B9B9B;
	padding: 1em;
	margin-top: 1em;
	text-align: center;
}

.footer a,
.footer a:hover {
	color: #26418F !important;
}

.vertical-scroll {
	overflow-y: auto;
	overflow-x: hidden;
	outline: 0;
}

.horizontal-scroll {
	overflow-x: scroll;
	overflow-y: hidden;
	outline: 0;
	white-space: nowrap;
}

.col-form-label {
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-bottom: 0;
}

.left-indent {
	margin-left: 20px;
}

.space-left-right {
	margin-left: 10px;
	margin-right: 10px;
}

.space-right {
	margin-right: 20px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.space-bottom {
	margin-bottom: 10px;
}

.space-top {
	margin-top: 20px;
}

.space-top-10 {
	margin-top: 10px;
}

.space-top-30 {
	margin-top: 30px;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}
.font-size-14px {
	font-size: 14px;
}

.full-width {
	width: 100%;
}

h3 {
	font-weight: 600;
	font-size: 16px;
	color: #26418F;
}

h4 {
	font-size: 15px;
}

.white-text {
	color: #FFFFFF;
}

.blue-text {
	color: #26418F;
}

.hidden {
	display: none;
}

.no-border {
	border: none;
}

#loading-hud,
.loading-hud {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

/** ------ Segments drop down ------ **/
.dark-outline-form-control {
	color: #737373;
	background-color: transparent;
	background-image: none;
	border-color: #737373;
}
#segment-control .dropdown-menu {
	border: 0;
}

/* ------ Nav Menu that slides in&out ------ */

.navmenu {
	background: #26418F;
	width: 270px;
	/* padding: 80px 20px 20px 20px; */
	padding: 20px;
	height: 100%;
	position: absolute;
}

.navmenu-title {
	font-size: 18px;
	font-weight: 400;
	border-bottom: 1px solid #FFFFFF;
	margin-top: 40px;
}

.side-bar-nav>li>a {
	padding: 15px 0;
}

.navmenu-nav {
	display: block;
}

.navmenu-nav li {
	padding: 0.7em;
}

.navmenu-default .navmenu-nav>li>a,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a {
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 700;
}

.navmenu-default .navmenu-nav>li>a:hover,
.navmenu-default .navmenu-nav>li>a:active,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:active {
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 700;
	text-decoration: underline solid #FFFFFF;
}

.nav-footer {
	font-size: 10px;
	color: #9B9B9B;
	margin-top: 30px;
}

/* ----- side bar notification --*/ 
#notifications-display .panel { 
	color: #FFFFFF; 
	background: transparent; 
	border-radius: 0; 
	border: transparent; 
  } 
  #notifications-display .panel-heading { 
	color: #FFFFFF; 
	background: transparent; 
	border-radius: 0; 
	border-bottom: 1px solid #FFFFFF; 
	padding: 5px 0; 
	margin-bottom: 5px; 
  } 
  #notifications-display .panel-title { 
	font-size: 14px; 
	font-weight: 600; 
  } 
  #notifications-display .panel-title a:hover { 
	text-decoration: none; 
  } 
  #notifications-display .notification { 
	border: 1px solid white; 
	padding: 10px; 
	margin: 8px 0; 
  } 
   
  #notifications-display .read-button, 
  #notifications-display .status-button { 
	background: transparent; 
	color: #FFFFFF; 
	font-size: 12px; 
	vertical-align: middle; 
	padding: 6px 0; 
	margin-top: -8px; 
  } 
  #notifications-display .read-button i, 
  #notifications-display .status-button i { 
	font-size: 18px; 
  } 
  #notifications-display .notification-type-container { 
	margin: -5px 0 0 -5px; 
   
  } 
  #notifications-display .notification-type { 
	font-weight: 600; 
	font-size: 12px; 
	color: #c8c8c8; 
	background: #003b50;; 
	padding: 0 10px; 
	border-radius: 0px; 
  } 
  #notifications-display .notification-msg { 
	margin: 10px 0; 
	font-size: 15px; 
  } 
  #notifications-display .notification-deadline { 
	text-align: right; 
	font-size: 11px; 
  } 
  .navmenu .btn-link { 
	color: #FFFFFF; 
  }  
  .icon-wrap { 
	position: relative; 
	float: left; 
  } 
  .covaa-notification-badge { 
	background: #F92300;; 
	font-size: 10px; 
	font-weight: 700; 
	color: #FFFFFF; 
	border: 1px solid #FFFFFF; 
	border-radius: 50%; 
	position: absolute; 
	right: -8px; 
	top: -3px;
   
  } 

/* ------- Main Area ------ */

.canvas {
	background: whitesmoke;
	padding-bottom: 20px;
}

.canvas-off{
	left: 270px;
	/* transition:all 0.1s; */
}

/* ----------- Nav Bar -------- */

.navbar {
	background-color: #26418F;
	min-height: 40px;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;
	padding: 0 1em;
}

.navbar-nav {
	margin: 0;
	display: inline;
}

.oval-nav-left {
	width: 50%;
	float: left;
}

.navbar-button {
	font-size: 22px;
	margin: 4px 4px 4px 15px;
	padding: 0;
	float: left;
	border: 1px solid transparent;
	background-color: #26418F;
	color: #FFFFFF;
}

.navbar-button:hover {
	cursor: pointer;
}

.greetings {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	margin: 10px 15px;
	float: left;
}

.greetings a {
	color: #FFFFFF;
	text-decoration: underline;
}

.oval-branding {
	float: right;
	font-size: 14px;
	margin-right: 15px;
}

.oval-logo {
	margin: 9px 3px 3px 0;
}

.oval-name {
	display: inline-block;
	margin-top: 10px;
	color: #FFFFFF;
}

#term-select {
	margin: 10px;
}

/* ------ Side Menu ------ */

.navmenu-title {
	color: #FFFFFF;
}

/* -------- Courses Bar -------- */

.courses-bar {
    background-color: #5C6BC0;
    top: 55px;
    z-index: 999;
    padding: 0 2em;
	margin: 0.5em;
	width: 98%;
}

.dropdown-button {
	background: transparent;
	font-size: 14px;
	font-weight: 700;
	/* border-color: #FFFFFF; */
	color: #FFFFFF;
	min-height: 34px;
	padding-left: 8px;
	padding-right: 8px;
}

.dropdown-button:hover {
	text-decoration: none;
}

.dropdown-left {
	/* width: 68px; */
	font-weight: 500;
}

.dropdown-center {
	/* width: 68%; */
	/* need to change for smaller screen so group button fills width */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: underline;
}

.dropdown-center:hover{
	cursor: pointer;
}

.dropdown-button.focus,
.dropdown-button:focus,
.dropdown-button:hover {
	color: #FFFFFF;
	background: transparent;
}

.non-functional-button.disabled {
	cursor: notallowed;
	opacity: 1;
}

.courses-bar .btn-group,
.search-bar .btn-group {
	/* margin-top: 0.5em;
	margin-bottom: 0.5em; */
}

.dropdown-item a {
	color: #26418F;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

/* -------- Search Bar -------- */

.search-bar {
	background-color: #26418F;
	min-height: 66px;
}

.search-bar .input-group {
	min-width: 350px;
	border: #FFFFFF;
	margin-top: 16px;
	margin-bottom: 16px;
}

.search-bar .form-control {
	background: transparent;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	min-height: 34px;
}

.search-bar .search-button {
	background: transparent;
	font-size: 17px;
	color: #FFFFFF;
	border-color: #FFFFFF;
	padding: 4px 8px;
}

.search-bar ::-webkit-input-placeholder,
.search-bar :-moz-placeholder,
.search-bar ::-moz-placeholder,
.search-bar ::-ms-input-placeholder {
	color: red;
}

.search-bar label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 15px;
	margin-right: 15px;
	font-size: 14px;
	font-weight: 400;
}

.search-bar input[type=checkbox] {
	display: none;
}

.search-bar input[type=checkbox]+label:before {
	font-family: 'Font Awesome\ 5 Free';
	display: inline-block;
	letter-spacing: 10px;
	content: "\f096";
}

.search-bar input[type=checkbox]:checked+label:before {
	font-family: 'Font Awesome\ 5 Free';
	display: inline-block;
	letter-spacing: 5px;
	content: "\f046";
}

/* -------- Video Player -------- */
/** to make video sticky at top when scrolling window **/
#video {
	position: sticky;
	top: 0;
	z-index: 1;
}

.video-width {
	width: 98%;
	/* max-width: 640px;	 */
	margin: 0 auto;
}

/* -------- Content Tabs -------- */

.content-tabs {
	border-bottom: 1px solid #26418F;
}

.nav-tabs.content-tabs>li.active>a,
.nav-tabs.content-tabs>li.active>a:focus,
.nav-tabs.content-tabs>li.active>a:hover {
	color: #26418F;
	background-color: transparent;
	border: 1px solid transparent;
}

.nav-tabs.content-tabs>li>a {
	border-radius: 0px 0px 0px 0px;
	border: 1px solid transparent;
}

.nav.content-tabs>li {
	margin-bottom: 1px;
}

.nav.content-tabs>li>a {
	padding: 5px;
	margin-right: 20px;
	color: #737373;
	font-size: 16px;
	font-weight: 600;
}

.nav.content-tabs>li:focus,
.nav.content-tabs>li:hover,
.nav.content-tabs>li>a:focus,
.nav.content-tabs>li>a:hover {
	text-decoration: none;
	/* background-color: #393939; */
}

/* -------- Content Analysis -------- */

#content-analysis {
    overflow: hidden;
    color: #26418F;
    background: lightgray
}

#left-side .panel {
	/* background: #000000; */
	border-color: #737373;
	margin-bottom: 20px;
}

#left-side .keyword-ul-box {
	overflow-y: scroll;
	height: 160px;
}

#right-side .keyword-ul-box {
	margin: 5%;
}

#related-ul {
	margin-top: 20px;
	padding-left: 14px;
	color: #FFFFFF;
	max-height: 430px;
	/* min-height: 250px; */
	/* overflow-y: scroll; */
}

#related-ul>li {
	margin-bottom: 8px;
	line-height: 16px;
}

.annotations-buttons button.keyword-details,
.annotations-buttons button.keyword-summary {
	margin-top: 20px;
}

.container .dropdown-menu {
	color: #474244;
	left: 70px;
}

.container .dropdown-menu>li {
	padding: 0 10px;
}

.container .dropdown-menu>li:hover {
	background: #C8C8C8;
}

#modal-iframe {
	border: none;
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}

.video-link {
	cursor: pointer;
	color: #337ab7;
}

.related-time {
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
	color: #339ce9;
}

/* -------- Annotations -------- */

#annotations {
	margin-top: 10px;
}

.annotations-buttons {
	overflow: hidden;
	margin: 5px;
}

.annotations-buttons .btn,
#comments .add-comment {
	color: black;
	padding: 0;
	margin: 0;
	float: right;
	font-size: 1em;
	vertical-align: middle;
	margin-left: 20px;
}

#comments .add-comment>i {
	margin-left: 5px;
	font-size: 22px;
	vertical-align: middle;
}

.annotations-buttons i {
	font-size: 22px;
	margin-left: 5px;
	vertical-align: middle;
	padding: 0.5em;
}

#annotations .modal-tags :before {
	content: "\f02c";
	font-family: 'Font Awesome\ 5 Free';
	font-size: 13px;
	color: #737373;
}

#annotations .modal-tags {
	padding-left: 25px;
	font-size: 14px;
	color: #737373;
}

#annotations-list {
	position: relative;
	/*  	background: url("../img/annotation_list_bg.png") no-repeat; */
	background: url("../img/annotation_list_bg_vertical.png"), url("../img/annotation_list_bg_bottom.png");
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 100%, 100% auto;
	background-position: 0 0, 0 bottom;
	min-height: 120px;
	margin-bottom: 20px;
}

#annotations-list .no-annotation {
	text-align: center;
	width: 80%;
	margin: auto;
	background-color: transparent;
	color: #9B9B9B;
}

#instructor-annotations,
#instructor-annotations .section,
#student-annotations,
#student-annotations .section {
	position: relative;
}

.mine:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f192";
}

.students:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f10c";
}

.instructors-and-tas:before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f111";
}

.annotation-icon {
	position: absolute;
	width: 32px;
	height: 32px;
}

.annotation-icon i {
	font-size: 16px;
	color: #F9B200;
}

.annotation-button {
	width: 32px;
	height: 32px;
	padding: 6px;
	color: #9B9B9B;
}

.annotation-button:hover {
	color: #F9B200;
}

.btn.btn-link.annotation-list-toggler {
    padding: 2px;
    font-size: 14px;
    color: #454545;
}
.btn.btn-link.annotation-list-toggler::before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f106";
	font-weight: 900;
}
.btn.btn-link.annotation-list-toggler.is_hidden::before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f107";
	font-weight: 900;
}


#annotation-filter input[name=filter] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

#trends {
	clear: left;
	height: 25px;
	overflow: display;
	cursor: pointer;
	border: solid 1px #737373;
	width: 100%;
}

.annotation-filter i {
	color: #F9B200;
	font-size: 16px;
}

#annotation-filter {
	color: #C8C8C8;
	font-size: 16px;
}

#annotation-filter i {
	color: #F9B200;
	margin-right: 14px;
}

#annotation-filter .btn {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 30px;
}

#annotation-filter .btn:hover,
#annotation-filter .btn:focus,
#annotation-filter .btn.focus {
	color: #C8C8C8;
}

#annotation-filter .btn.active {
	color: black;
	border: solid 1px #F9B200;
	border-radius: 4px;
}

/* -------- Right Side (Related & Comments) -------- */
#right-side .header {
	/* border-bottom: 1px solid #26418F; */
	/* margin-bottom: 5px; */
	overflow: hidden;
}

#right-side h3 {
	font-weight: 600;
	font-size: 16px;
	color: #26418F;
	width: 80%;
}

#plain-comments {
	background: #ffffff;
}

#plain-comments .add-comment {
	position: relative;
	padding: 5px;
}

#plain-comments .comments-box {
	min-height: 600px;
	max-height: 800px;
}

#plain-comments .comment {
	border-bottom: 1px solid #26418F;
	padding: 5px 10px 5px 5px;
}

.username:before {
	content: "\f508";
	font-family: 'Font Awesome\ 5 Free';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 13px;
	color: #26418F;
}

.username {
	font-weight: 700;
	font-size: 14px;
	color: #26418F;
	padding-left: 20px;
	position: relative;
}

.instructor::before {
	content: "\f0a3";
	font-family: 'Font Awesome\ 5 Free';
	font-size: 10px;
	color: #F9D784;
	margin-right: 3px;
	vertical-align: top;
}

.instructor {
	color: #A78F54;
	font-size: 11px;
	vertical-align: top;
	margin-left: 26px;
}

.date {
	font-weight: 600;
	font-size: 14px;
	color: #26418F;
	margin-left: 20px;
}

.tags::before {
	content: "\f02c";
	font-family: 'Font Awesome\ 5 Free';
	display: inline-block; 
	letter-spacing: 4px; 
	font-size: 12px;
	font-weight: 700;
	color: #26418F;
}

.tag {
	display: inline-block;
	font-size: 13px;
	color: #737373;
	border-radius: 5px;
	padding-left: 8px;
	padding-right: 8px;
}

.tag:hover,
.tag:active {
	text-decoration: underline;
	cursor: pointer;
}

.comment-tag {
	background: #C0C9E4;
}

.edit-comment-button {
	font-size: 21px;
	color: #9B9B9B;
	float: right;
}

.edit-comment-button:focus,
.edit-comment-button.focus,
.edit-comment-button:hover {
	color: #9B9B9B;
}

.privacy-icon,
.blue-icon {
	font-size: 13px;
	color: #26418F;
	float: left;
}

#plain-comments .comment-summary {
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	cursor: pointer;
}

#plain-comments .comment-full {
	height: 100%;
	cursor: default;
	cursor: pointer;
}

#plain-comments .comment-text {
	font-weight: 400;
	font-size: 15px;
	/* color: #EBEBEB; */
	margin-top: 10px;
	margin-bottom: 10px;
	/* cursor: default; */
}

.topic-search {
	background: #737373;
	color: #EBEBEB;
	border: 1px solid #FFFFFF;
	border-radius: 0;
}

#no-links-msg {
	color: #ffffff;
}

/* ------Text Pages ------ */

.page-title {
	font-size: 16px;
	color: #26418F;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
}

.page-title i {
	font-size: 14px;
	color: #26418F;
	padding-right: 5px;
}

.page-title a {
	color: #26418F;
}

.admin-page-info-section {
	background: #000000;
	margin: 20px;
}

h4.inline-with-img {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 20px;
	color: #C8C8C8;
	font-weight: 600;
}

.inline-with-img a {
	color: #C8C8C8;
}

.text-content {
	color: #26418F;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 20px;
}

.text-content h3 {
	font-size: 14px;
	font-weight: 600;
	color: #26418F;
	padding-top: 20px;
	padding-bottom: 10px;
}

.text-content ul {
	padding-left: 18px;
}

.logo {
	padding-top: 10px;
	padding-right: 15px;
	height: 50px;
	display: inline;
}

/* -------- Modal -------- */

.modal-content {
	border-radius: 0;
}

.modal-title {
	color: #9B9B9B;
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 30px;
}

.modal-header {
	border-bottom: 0;
	padding-bottom: 0;
	display: block;
}

.modal-body {
	color: #737373;
	font-size: 14px;
	font-weight: 400;
}

.modal-body .modal-scrollbox {
	overflow-y: scroll;
	box-shadow: 0;
}

.modal-content .edit-instruction {
	text-align: right;
}

.modal-content #edit-instruction-button {
	font-size: 16px;
	margin-right: 20px;
}

.edit-annotation-time {
	padding-bottom: 10px;
}

.modal-content #time-label {
	color: #737373;
	font-weight: 700;
	font-size: 28px;
	padding-left: 26px;
	padding-right: 26px;
}

.modal-content .edit-annotation-time button {
	background: transparent;
	color: #737373;
	font-size: 26px;
	border: 1px solid transparent;
}

.modal-content .meta-data {
	border-top: 1px solid #26418F;
	border-bottom: 1px solid #26418F;
	padding-top: 5px;
	padding-bottom: 5px;
}

#annotation-modal .form-group,
#preview .form-group {
	border-bottom: 1px solid #737373;
	padding-bottom: 10px;
}

.modal-body textarea {
	width: 100%;
	min-height: 40px;
	border: none;
	resize: none;
}

.modal input[type="text"]#tags {
	margin-left: 20px;
	border: none;
	width: 90%;
	transition: border 0.3s;
}

.modal input[type="text"]#tags:focus,
.modal input[type="text"]#tags.focus {
	border-bottom: solid 1px #737373;
}

.modal input[type="text"] {
	/* border-color: #9B9B9B; */
}

#annotation-modal input[type=radio] {
	display: none;
	padding-right: 20px;
}

/* .modal input[type=checkbox] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
} */

.modal input[type=checkbox].checkbox.pull-right {
	display: none;
}

.modal .circle-radio {
	font-weight: 400;
}

.modal input[type="checkbox"]+span.circle-radio::after {
	content: '';
	display: inline-block;
	width: 0.7em;
	height: 0.7em;
	vertical-align: -0.10em;
	border-radius: 1em;
	border: 0.125em solid #fff;
	box-shadow: 0 0 0 0.15em #585858;
	margin-left: 0.70em;
	transition: 0.5s ease all;
}

.modal input[type="checkbox"]:checked+span.circle-radio::after {
	background: #737373;
}

:checked+span {
	text-decoration: underline;
}

.private-radio-label,
.public-radio-label,
.nominated-radio-label {
	margin-right: 30px;
}

.private-radio-label:before {
	font-family: 'Font Awesome\ 5 Free';
	display: none;
	content: "\f21b";
	letter-spacing: 10px;
}

.public-radio-label:before {
	font-family: 'Font Awesome\ 5 Free';
	display: none;
	content: "\f0c0";
	letter-spacing: 10px;
}

.nominated-radio-label:before {
	font-family: 'Font Awesome\ 5 Free';
	display: none;
	content: "\f05b";
	letter-spacing: 10px;
	color: #474244;
}

.modal-content .small-gray-icon {
	font-size: 13px;
	color: #737373;
}

.modal-content .btn {
	font-size: 28px;
	color: #9B9B9B;
}

.modal-content .btn.red {
	color: red;
}

.modal-content .toggle-keyword {
	font-size: 16px;
	padding: 0 8px;
}

.modal-content .form-control::placeholder {
	color: #cccccc;
}

.form-buttons {
	border-bottom: none;
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.form-buttons .pull-right {
	float: right;
}

.modal .dropdown-button {
	color: #737373;
	font-size: 14px;
	border-color: #737373;
}

.modal .dropdown-button.focus,
.modal .dropdown-button:focus,
.modal .dropdown-button:hover {
	color: #737373;
}

.modal-body .dropdown-center {
	/* ***TODO ::::: need to change depending on screen width **/
	width: 82%;
}

.modal .dropdown-menu {
	width: 78%;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.5em 1em;
	clear: both;
	font-weight: 400;
	color: #373a3c;
	text-align: inherit;
	white-space: nowrap;
	background: 0 0;
	border: 0;
}

#modal-form #add-group-row {
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#annotation-modal #confidence {
	display: none;
}

#feedback #point-instruction {
	padding-bottom: 24px;
}

#feedback #re-enter-comment {
	position: absolute;
	bottom: 24px;
}

.form-buttons .modal-text-button {
	font-size: 18px;
}

.form-buttons .modal-text-button i {
	font-size: 14px;
}

.modal .search-input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	margin-bottom: 5px;
	height: auto;
}

/* ------ Annotation Preview Popup ------ */

#preview {
	position: absolute;
	display: none;
	z-index: 1050;
	min-width: 250px;
	max-width: 350px;
	min-height: 200px;
}

#preview .play-icon {
	font-size: 26px;
	color: #737373;
}

#preview .time-label {
	font-size: 20px;
	color: #737373;
	font-weight: 700;
}

#preview .preview-tags {
	display: inline-block;
	margin-left: 6px;
}

.annotation-tag {
	background: #ECECEC;
}

#preview .edit-annotation-button {
	font-size: 22px;
	color: #9B9B9B;
	float: right;
}

/* ------ Admin & Analytics page ------*/

.msg {
	padding: 20px;
	margin-top: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
	background: #fbff5b;
	color: #585858;
}

.admin-page-section {
	background: #FFFFFF;
	color: #26418F;
	padding: 30px 10px 30px 10px;
	margin-bottom: 30px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.admin-page-section-header {
	background: #26418F;
}

.admin-page-section-header h2 {
	color: #FFFFFF;
	font-weight: 600;
	font-size: 16px;
	padding: 5px;
	margin: 0;
}

.admin-page-section label {
	color: #26418F;
	font-weight: 600;
	font-size: 14px;
}

.admin-page-section legend {
	font-size: 14px;
	font-weight: 600;
	color: #26418F;
	margin-bottom: 0;
	border: none;
}

.admin-page-section .gray-textbox {
	background: #e5f1ff;
	color: #26418F;
	border: 1px solid #26418f;
	border-radius: 0;
}

.admin-page-section .has-error input {
	border: 2px solid red;
}

.help-block.with-errors {
	color: red;
}

.admin-page-section ::-webkit-input-placeholder,
.admin-page-section :-moz-placeholder,
/* Firefox 19+ */

.admin-page-section ::-moz-placeholder
/* Firefox 19+ */

	{
	/* color: #EBEBEB; */
	font-size: 12px;
}

.admin-page-section select {
	color: #737373;
}

.admin-page-section .instruction {
	color: #737373;
	font-weight: 400;
	font-size: 12px;
}

.error {
	color: red;
}

.admin-page-section .rectangle-button {
	min-height: 34px;
	border: 1px solid #26418F;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	color: #26418F;
	background: transparent;
	/* margin-top: 20px;
	margin-left: 10px; */
}

.outline-button {
	background-image: none;
	background-color: transparent;
	border-radius: 4px;
	font-size: 12px;
	margin-top: 2px;
}

.rectangle-button.textonly {
	font-size: 12px;
	font-weight: 400;
	color: #26418F;
	border-color: #C8C8C8;
}

.admin-page-section .outline-button {
	color: #595959;
	border: 1px solid #595959;
}

.modal .outline-button {
	color: #9B9B9B;
	border: 1px solid #9B9B9B;
}

.admin-page-section .rectangle-button i,
.outline-button i {
	padding-left: 10px;
}

.modal .outline-button i {
	padding-left: 2px;
}

@media(max-width:767px) {
	.outline-button i {
		margin-left: -8px;
		margin-right: auto;
	}
}

.adimn-page-section .search-bar {
	display: inline-block;
}

.admin-page-section .table {
	width: 98%;
	margin: auto;
}

.admin-page-section .table-striped th {
	background: #26418F;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 700;
	height: 47px;
	vertical-align: middle;
	border-bottom: 0;
}

.admin-page-section .table-striped td {
	vertical-align: middle;
	border-top: 0;
	border-bottom: 1px solid #26418F;
	font-size: 13px;
	color: #26418F;
}

.admin-page-section .table-striped tbody>tr:nth-child(odd)>td {
	background: whitesmoke;
}

.admin-page-section .table-striped tbody>tr:nth-child(even)>td {
	background: lightgray;
}

.admin-page-section .img-cell {
	padding: 10px;
	width: 150px;
}

.video-thumbnail {
	height: 80px;
}

.admin-page-section .video-thumbnail {
	display: block;
}

.admin-page-info-section .video-thumbnail {
	display: inline-block;
}

.admin-page-section .status-icon,
.admin-page-section .group-icon {
	font-size: 18px;
}

.admin-page-section .delete-icon {
	font-size: 22px;
}

.admin-page-section td button { 
	padding-left: 10px; 
	padding-right: 10px; 
  } 
  .admin-page-section .clamp-this, 
  .admin-page-section .full-text  { 
	cursor: pointer; 
  } 

.admin-bar-text {
	margin-top: 23px;
	margin-bottom: 10px;
}

.filter-bar .btn-group {
	margin-top: 16px;
}

.admin-page-section .btn-link,
.admin-page-section .btn-link:focus .admin-page-section .btn-link.focus .admin-page-section .btn-link:hover {
	color: #26418F;
}

.admin-page-section .group-mng-button {
	margin-top: 5px;
}

.admin-page-section input[type='file'] {
	display: inline-block;
	margin-left: 20px;
}

.admin-page-section .video-url {
	font-weight: 700;
	color: #9B9B9B;
	margin-left: 10px;
}

.admin-page-section a {
	color: #26418F;
}

.one-button-form {
	display: inline-block;
	margin-left: 8px;
	margin-right: 20px;
}

.one-button-form>.rectangle-button {
	margin: 0;
}

.page-filter {
	text-align: center;
	color: #C8C8C8;
	margin-top: 10px;
}

.page-filter a {
	color: #C8C8C8;
}

.page-filter .current-page {
	color: #26418F;
	text-decoration: underline;
}

.page-filter ul li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.admin-page-section .title-button-div { 
	width: 150px; 
	display: block; 
	word-wrap: break-word; 
	white-space: normal; 
	text-align: left; 
  } 

/** modal for video-management page **/

#class-info {
	text-align: center;
	color: #ffffff;
	background: #737373;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	width: 95%;
	border-radius: 5px;
}

#group-members {
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 15px;
	width: 95%;
}

.instruction {
	margin-top: 5px;
}

/* #modal-form select[multiple] {
	position: absolute;
	left: -9999px;
} */

.modal legend {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
	color: #737373;
}

.modal .checkbox.disabled label,
.modal .radio.disabled label,
.modal fieldset[disabled] .checkbox label,
.modal fieldset[disabled] .radio label {
	color: #C8C8C8;
}

/** modal for comments/annotation with same tag **/

#same-tag-modal .modal-header {
	height: 40px;
}

#same-tag-modal .comment {
	margin:10px;
	padding: 10px;
	border-bottom: 1px solid #26418F;

}

#same-tag-modal .username,
#same-tag-modal .username::before,
#same-tag-modal .privacy-icon,
#same-tag-modal .date {
	color: #737373;
}

#same-tag-modal .comment-text {
	font-size: 15px;
}

#same-tag-modal .video-time::before {
	font-family: 'Font Awesome\ 5 Free';
	display: inline-block;
	content: "\f017";
	letter-spacing: 4px;
	font-size: 12px;
}

/** modal for lti-management page **/

.modal legend {
	border-bottom: 0;
}

.modal .rectangle-button {
	border: 1px solid #9B9B9B;
	border-radius: 4px;
	min-height: 34px;
	color: #9B9B9B;
	background: transparent;
}

fieldset.light-gray {
	border-radius: 10px;
	background: #EBEBEB;
}


/*
*	style for quiz plugin
*
*/

#quiz_modal,
#feedback_dialog {
	z-index: 21474836470;
}

.player_wrap {
	border-radius: 5px;
	border: 1px solid;
	padding: 10px;
	display: none;
}

ul.question_list_wrap {
	list-style-type: none;
}

.quiz_text_area {
	border: 1px solid !important;
	border-radius: 5px !important;
}

.create_block_warp {
	border: 1px solid;
	padding: 10px;
	border-radius: 5px;
}

#quiz_create_modal .form-heading {
	font-weight: 700;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 2px;
}

.create_new_quiz_wrap {
	max-height: 600px;
	overflow-y: scroll;
}

.create_new_quiz_wrap h2 {
	font-size: 17px;
	font-weight: bolder;
	text-transform: uppercase;
}

.question_warp ul {
	list-style: none;
	padding: 0;
}

.question_warp ul div {
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	width: 98%;
}

.question_warp ul span.title {
	padding: 5px;
	border: none;
}

.question_warp ul div i {
	float: right;
	padding: 0 10px 0 0;
}

.question_warp ul div i:hover {
	cursor: pointer;
}

.question_warp ul li {
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 5px;
	width: 98%;
	overflow: hidden;
}

.question_warp ul li i {
	padding: 0 10px 0 10px;
	float: right;
}

.question_warp li:hover {
	cursor: pointer;
}

/*------ quiz list wrap ------*/

.quiz_warp h2 {
	font-size: 17px;
	font-weight: bolder;
	text-transform: uppercase;
}

.quiz_warp ul {
	margin-top: 5px;
	list-style: none;
	padding: 0;
}

.quiz_warp ul div {
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	width: 98%;
}

.quiz_warp ul div i {
	float: right;
	padding: 0 10px 0 10px;
}

.quiz_warp ul div i:hover {
	cursor: pointer;
}

.quiz_warp ul span {
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
}

.quiz_warp ul span.title {
	padding: 5px;
	border: none;
}

.quiz_warp ul span i {
	padding: 10px;
	border-left: 1px solid;
}

.quiz_warp ul span i:hover {
	cursor: pointer;
}

.quiz_warp ul li {
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 5px;
	width: 98%;
	overflow: hidden;
}

.quiz_warp ul li i {
	padding: 0 10px 0 10px;
	float: right;
}

.quiz_warp li:hover {
	cursor: pointer;
}

.quiz_submit_btn {}

.quiz_options_wrap {
	width: 100%;
}

.quiz_options_btn {
	background: transparent;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;
	margin: 0 5px;
	font-weight: bolder;
}

.quiz_options_btn:active {
	color: #26418F;
}

.quiz_options_wrap {
	margin: 10px 0;
}

.quiz_options_wrap tbody tr td:nth-child(3) {
	padding: 10px;
}

.quiz_options_wrap tbody tr td:nth-child(2) input {
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	width: 100%;
	margin: 5px 0;
}

.quiz_options_wrap .icon-for-tooltip {
	margin-left: 10px;
	vertical-align: middle;
}

.quiz_options_wrap tbody tr td:nth-child(4) input {
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
	/* width: 100%; */
	/* width: 90%; */
	margin: 5px 0;
}

.quiz_options_wrap tbody tr td:nth-child(4) input::-webkit-input-placeholder {
	color: #33B9E9;
}

.question_preview_wrap {
	border: 1px solid;
	border-radius: 5px;
	margin-top: 20px;
	width: 98%;
}

.question_preview_wrap h2 {
	margin: 0;
	font-size: 17px;
	font-weight: bold;
	border-bottom: 1px solid;
	padding: 10px;
}

.question_preview_wrap th {
	padding: 10px;
}

#create_quiz_time {
	color: red;
}

.create_block_warp ul li {
	margin: 1em 1em 1em 0;
}

.create_block_warp ul li a {
	color: #474244;
	font-weight: bolder;
	background-color: white;
	border: 1px solid !important;
	border-radius: 5px !important;
	padding: 1em;
}

.create_block_warp ul li.active a {
	font-weight: bolder;
	color: #26418F !important;
	background-color: white !important;
	padding: 1em;
}

.button_warp {
	margin-top: 20px;
	border: 1px solid;
	border-radius: 5px;
	color: #26418F;
	width: 98%;
}

.button_warp:hover {
	cursor: pointer;
}

.button_warp button {
	color: #26418F !important;
	font-weight: bolder !important;
	white-space: normal;
}

/*------ quiz modal style ------*/

.client_question_list_wrap {
	list-style-type: none;
	padding: 10px;
}

.client_question_list_wrap li {
	border: 1px solid;
	border-radius: 5px;
	margin-bottom: 10px;
}

.client_question_list_wrap li h3 {
	margin: 10px 0;
	font-weight: bolder;
	padding: 0 10px 10px 10px;
	border-bottom: 1px #777 solid;
}

.client_question_list_wrap li h4 {
	margin: 10px 0;
	font-weight: bolder;
	padding: 0 10px 10px 10px;
	font-size: 17px;
}

.client_question_list_wrap li textarea {
	width: 96%;
	border: 1px solid;
	margin: 0 10px 20px 10px;
	border-radius: 5px;
}

/*------ user radio button style ------*/

.client_question_list_wrap .list {
	-webkit-box-flex: 0;
	-ms-flex: 0 80%;
	flex: 0 80%;
	list-style-type: none;
	padding-left: 1em;
}

.client_question_list_wrap .list li {
	border: none;
}

.client_question_list_wrap .list__item {
	position: relative;
}

.client_question_list_wrap .list__item:hover label {
	color: #26418F;
}

.client_question_list_wrap .list__item:hover .label::before {
	border: 5px solid #26418F;
	margin-right: 30px;
}

.client_question_list_wrap .radio-btn {
	position: absolute;
	visibility: hidden;
}

.client_question_list_wrap .radio-btn:checked~.label {
	color: #26418F;
}

.client_question_list_wrap .radio-btn:checked~.label::before {
	margin-right: 30px;
	border: 9px solid #26418F;
	background: #f8f7ff;
}

.client_question_list_wrap .label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: black;
	font-weight: bolder;
	font-size: 17px;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
	white-space: normal;
	text-align: left;
}

.client_question_list_wrap .label::before {
	display: block;
	content: "";
	border: 5px solid #777;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	margin-right: 10px;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

/*------ analyst bar chart style ------*/

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.chart_canvas {
	background: antiquewhite;
	border-radius: 5px;
}

/*------ new style ------*/

.modal.modal-wide .modal-dialog {
	width: 90%;
}

.modal-wide .modal-body {
	overflow-y: auto;
}

.analytics_wrap {
	width: 100%;
	border: none;
}

.analytics_wrap tr th {
	background: #26418F;
	color: white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	padding: 0.5em;
}

.analytics_wrap tr td {
	text-align: center;
	background: whitesmoke;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	padding: 0.5em;
}

.analytics_wrap tbody tr {
	border: none;
}

.analytics_wrap tbody tr th {
	padding: 10px;
	background: #26418F;
	color: white;
	font-weight: bolder;
	border-right: 1px solid;
}

.analytics_wrap tbody tr td {
	padding: 10px;
	border-right: none;
}

.analytics_btn {
	background: transparent;
	color: #26418F;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 0 5px 0;
	text-transform: capitalize;
}

.analytics_extra_wrap {
	width: 100%;
	border: 1px solid;
}

.analytics_extra_wrap tbody tr {
	border: 1px solid;
}

.analytics_extra_wrap tbody tr th {
	padding: 10px;
	background: #26418F;
	color: white;
	font-weight: bolder;
	border-right: 1px solid;
}

.analytics_extra_wrap tbody tr td {
	padding: 10px;
	border-right: 1px solid;
}

/* The switch - the box around the slider */

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

/* Hide default HTML checkbox */

.switch input {
	display: none;
}

/* The slider */

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #26418F;
}

input:focus+.slider {
	box-shadow: 0 0 1px #26418F;
}

input:checked+.slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
	border-radius: 17px;
}

.slider.round:before {
	border-radius: 50%;
}

/*------ radio opt button ------*/

.radio_opt_button:checked,
.radio_opt_button:not(:checked) {
	position: absolute;
	left: -9999px;
}

.radio_opt_button:checked+label,
.radio_opt_button:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
}

.radio_opt_button:checked+label:before,
.radio_opt_button:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: #fff;
}

.radio_opt_button:checked+label:after,
.radio_opt_button:not(:checked)+label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: #26418F;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.radio_opt_button:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.radio_opt_button:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.quiz_hint {
	font-size: 1.5em;
	font-weight: bolder;
	padding: 5px 0;
	color: red;
}

.img_wrap img {
	height: 300px;
}

.img_wrap {
	text-align: center;
}

#quiz_create_modal {
	max-height: 768px;
	overflow-y: scroll;
}

/** sortable list (html5sortable **/

.sortable-list {
	list-style: none;
	padding: 20px;
}

.sortable-list li {
	padding: 8px;
	margin-bottom: 4px;
	background-color: #EBEBEB;
}

.sortable-list li:after {
	font-family: 'Font Awesome 5 Free';
	content: "\f0c9";
	display: block;
	letter-spacing: 8px;
	font-size: 12px;
	float: right;
	font-weight: 600;
}

.sortable-placeholder {
	border: solid 1px #C8C8C8;
	background: #9B9B9B;
}

.add_question_list_btn {
	border: 1px solid;
	margin: 20px 0 0 5px;
	border-radius: 5px;
	color: #26418F !important;
	background: transparent;
}

.quiz_preview_wrap {
	border: 1px solid;
	border-radius: 5px;
	margin-top: 20px;
	width: 98%;
}

.quiz_preview_inner {
	margin: 2%;
}

.quiz_preview_inner .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.quiz_preview_wrap h2 {
	margin: 0;
	font-size: 17px;
	font-weight: bold;
	border-bottom: 1px solid;
	padding: 10px;
}

.quiz_preview_wrap h4 {
	font-weight: 600;
	color: #474244;
	margin: 0;
}

.quiz_preview_wrap th {
	padding: 10px;
}

#quiz_preview_details th,
#quiz_preview_details td {
	padding: 20px;
}

#quiz_preview_details th {
	color: white;
	background: #26418F;
}

/*------ tooltip ------*/

.tooltip {
	display: block !important;
	position: absolute;
	padding: 6px 10px;
	background-color: #333;
	color: #fff;
	white-space: nowrap;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	font-family: "Helvetica Neue", "Helvetica";
	line-height: 1.2em;
	opacity: 1;
	z-index: 9999;
}

.tooltip .tt-arrow {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
}

.tooltip.tt-t .tt-arrow {
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px 10px 0 10px;
	border-color: #333333 transparent transparent transparent;
}

.tooltip.tt-r .tt-arrow {
	left: -10px;
	top: 50%;
	margin-top: -10px;
	border-width: 10px 10px 10px 0;
	border-color: transparent #333333 transparent transparent;
}

.tooltip.tt-b .tt-arrow {
	top: -10px;
	left: 50%;
	margin-left: -10px;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #333333 transparent;
}

.tooltip.tt-l .tt-arrow {
	right: -10px;
	top: 50%;
	margin-top: -10px;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #333333;
}

/** ------- Tooltip for video management page table head ------ **/

.icon-for-tooltip {
	font-size: 12px;
	vertical-align: top;
}

.large-icon-for-tooltip {
	font-size: 16px;
	vertical-align: middle;
}

.tooltip-in-button {
	margin: 16px;
	font-size: 16px;
	color: #737373;
	display: inline;
}

.tooltip.q-tooltip,
.tooltip.b-tooltip {
	background: transparent;
	white-space: normal;
	font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
}

.q-tooltip .tooltip-inner {
	background-color: #FFFFFF;
	color: #231E20;
	text-align: left;
}

.q-tooltip.top .tooltip-arrow {
	border-top-color: #FFFFFF;
}

.q-tooltip.right .tooltip-arrow {
	border-right-color: #FFFFFF;
}

.q-tooltip.left .tooltip-arrow {
	border-left-color: #FFFFFF;
}

.q-tooltip.bottom .tooltip-arrow {
	border-bottom-color: #FFFFFF;
}

.b-tooltip .tooltip-inner {
	background: #585858;
	color: #FFFFFF;
	text-align: left;
}

.b-tooltip.top .tooltip-arrow {
	border-top-color: #585858;
}

.b-tooltip.right .tooltip-arrow {
	border-right-color: #585858;
}

.b-tooltip.left .tooltip-arrow {
	border-left-color: #585858;
}

.b-tooltip.bottom .tooltip-arrow {
	border-bottom-color: #585858;
}

/*--- style global & current label -----*/

.radio-group input[type="radio"] {
	position: absolute;
	visibility: hidden;
	display: none;
}

.radio-group label {
	margin-bottom: 0px;
	color: #9a929e;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 20px;
}

.radio-group input[type="radio"]:checked+label {
	color: #ccc8ce;
	background: #675f6b;
}

.radio-group {
	border: solid 2px #675f6b;
	display: inline-block;
	margin: 20px 0;
	border-radius: 5px;
	overflow: hidden;
}

.comments-container {
	background: white;
	padding: 1em;
	border-radius: 0 0 5px 5px;
}

/*------ tags css ------*/
.covaa-tag-card {
	border: none;
}
.covaa-tag-card-body {
	padding: 0 .1rem 1rem 1rem;
}
.covaa-tags {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.covaa-tags li {
	float: left;
}

.covaa-tags a {
	text-decoration: none !important;
}

.covaa-tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	/* height: 26px; */
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 5px 5px 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;
}

.modal-content button.covaa-tag {
	color: #999;
	font-size: 1rem;
	border: 0;
}
button.covaa-tag {
	padding-left: 24px;
	padding-right: 20px;
	background: #eee;
}
button.covaa-tag[aria-expanded="true"] {
	background: #26418F;
	color: #eee;
}
button.covaa-tag[aria-expanded="true"]::after {
	border-left: 10px solid #26418F;
}
button.covaa-tag:focus,
button.covaa-tag.focus {
	box-shadow: none;
}
.covaa-tag:hover {
	cursor: pointer;
	color: #999;
}
span.covaa-tag:hover {
	cursor: default;
}
.covaa-tag-toggle-button {
	font-weight: 600;
	text-align: left;
	color: #424242;
}
.modal-content button.covaa-tag-toggle-button {
	font-size: 1rem;
	color: #424242;
	padding: 0;
}
.covaa-tag-toggle-button::before {
	content: " # ";
}
.covaa-tag-toggle-button::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\00a0\00a0\f055";
}
.covaa-tag-toggle-button.active::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\00a0\00a0\f056";
}
.covaa-tag-toggle-button.active:nth-child(n) {
	color: #B53F45;
}
.covaa-tag-toggle-button.active:nth-child(2n) {
	color: #ef6fb5;
}
.covaa-tag-toggle-button.active:nth-child(3n) {
	color: #db46a3;
}
.covaa-tag-toggle-button.active:nth-child(4n) {
	color: #5d65a7;
}
.covaa-tag-toggle-button.active:nth-child(5n) {
	color: #04afda;
}
.commenting-field .textarea,
.commenting-field .close,
.modal-body #annotation-textbox-div {
	display: none !important;
}
.jquery-comments ul.main li.comment .wrapper .content {
	white-space: normal !important;
}
.covaa-comment-for-tag-group {
    margin-top: 0.6em;
}
.covaa-comment-tag-group-div {
	margin: 1em;
}
.covaa-comment-tag-group-div .covaa-tag {
	background-color: #26418F;
	color: #eee;
}
.covaa-comment-tag-group-div .covaa-tag::after {
	border-left-color: #26418F;
}
.covaa-comment-selected-tag-div::before {
	content: "# ";
}
.modal-body textarea.covaa-comment-textarea {
	border:1px solid #bbbbbb;
}

.covaa-tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}

.covaa-tag::after {
	background: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.covaa-tags .active {
	background-color: #26418F;
	color: white !important;
	cursor: pointer;
}

.covaa-tags .active::after {
	border-left-color: #26418F;
}

.comments-pagination-container ul {
	margin: auto;
	/* width: 85%; */
	padding: 1em 0;
}

.covaa-comment-label {
	border: 1px solid white;
	padding: 0.5em;
	border-radius: 5px;
	margin: 5px 0 0 0;
	color: white;
}

.covaa-tags-sub li {
	color: lightgray;
}

.covaa-tags-sub li:nth-child(n) {
	color: #B53F45 !important;
	background: transparent;
	font-weight: bolder;
}


.covaa-tags-sub li:nth-child(2n) {
	color: #ef6fb5 !important;
	background: transparent;
	font-weight: bolder;
}


.covaa-tags-sub li:nth-child(3n) {
	color: #db46a3 !important;
	background: transparent;
	font-weight: bolder;
}


.covaa-tags-sub li:nth-child(4n) {
	color: #5d65a7 !important;
	background: transparent;
	font-weight: bolder;
}


.covaa-tags-sub li:nth-child(5n) {
	color: #04afda !important;
	background: transparent;
	font-weight: bolder;
}


.covaa-tags-sub .covaa-tag::before{
	background: none !important; 
    border: none !important;
    box-shadow: none !important;
    content: '#' !important;
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
	top: 0 !important;
	font-weight: bolder;
}

.covaa-tags-sub .active{
	cursor: pointer;
	border-radius: 5px;

}

.covaa-tags-sub .active::after{
	cursor: pointer;
	border-radius: 5px;
	padding-right: 5px;
}

.covaa-tags-sub .covaa-tag::after{
	font-family: "Font Awesome\ 5 Free";
	content: "\f055" !important;
	border: none !important;
}

.covaa-placeholder {
	text-align: center;
}

.covaa-placeholder i {
	font-size: 5em;
	color: lightgray;
}

.covaa-placeholder p {
	font-size: 1.5em;
	color: darkgray;
}

.comments-header {
	padding: 1em 1em 0 1em;
	background: white;
	border-radius: 5px 5px 0 0;
	font-size: 1em;
	color: #26418F;
}

.covaa-logo img {
	height: 2em;
}

.covaa-logo-title{
	font-size: 1.4em;
	color: #72b0e4;
	margin-left: 0.3em;
}

.margin-top-60 {
	margin-top: 60px;
}

.covaa-panel-title {
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em;
}

.annotation-text-inline-covaa-tag {
	color: #00ACEC;
	font-weight: 600;

}
.annotation-text-inline-annotation {
	color: #383838;
	font-weight: 400;
	margin-bottom: 10px;
}
#comments-header .time-label {
	color: #959595;
	font-size: 1.3em;
	font-weight: 600;
}
/*------ covaa survey ------*/

#loadingAjax {
	margin: 0 auto;
	/*padding: 10px 5px 10px 5px;*/
	background-color: #F4F5F9;
	border-radius: 4px;
	min-width: 800px;
}

#surveyResult {
	margin: 0px auto;
	padding: 10px 5px 10px 5px;
	background-color: #FFFFFF;
	width: 800px;
	min-height: 100%;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}

#surveyContainer {
	margin: 0px auto;
	padding: 10px 5px 10px 5px;
	border-radius: 4px;
	width: 1300px;
	min-height: 100%;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}

.covaa-survey h2 {
	font-size: 24px;
}

#surveyResult h3 {
	font-weight: normal;
	font-size:1.75rem;
	color:black;
}

#surveyResult h4 {
	
	font-size:18px;
}

.covaa-survey .panel-footer {
	text-align: center;
}

.covaa-survey input[type="radio"] {
	transform: scale(2);
	margin: 4px 0 0 -4px;
}

.covaa-survey input[type="button"],
.covaa-survey input[type=submit] {
	font-size: 12px;
	font-weight: bold;
	line-height: 2em;
	border: none;
	min-width: 100px;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
	color: white;
	background-color: #26418F;
}

#surveyResult .btn {
	font-size: 24px;
	background-color: #26418F;
	color: white;
}

.covaa-survey .btn:hover {
	color: #FFF;
	text-decoration: underline;
}

.covaa-survey .progress {
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.covaa-survey .progress {
	background-image: -webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
	background-image: -o-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
	background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
	background-repeat: repeat-x;
}

.covaa-survey .progress-bar {
	font-size: 10px;
	background-color: #337ab7;
}

.covaa-survey thead {
	color: #000000;
	font-size: 11px;
}

.covaa-survey tbody td:first-child {
	text-align: left;
	line-height: 1;
}

.covaa-survey tbody td,
.covaa-survey thead th {
	text-align: center;
}

.covaa-survey tbody td:nth-child(2),
.covaa-survey thead th:nth-child(2) {
	width: 5%;
	background-color: #c523ff;
}

.covaa-survey tbody td:nth-child(3),
.covaa-survey thead th:nth-child(3) {
	width: 5%;
	background-color: #da73ff;
}

.covaa-survey tbody td:nth-child(4),
.covaa-survey thead th:nth-child(4) {
	width: 5%;
	background-color: #efc3ff;
}

.covaa-survey tbody td:nth-child(5),
.covaa-survey thead th:nth-child(5) {
	width: 5%;
}

.covaa-survey tbody td:nth-child(6),
.covaa-survey thead th:nth-child(6) {
	width: 5%;
	background-color: #d2ffb5;
}

.covaa-survey tbody td:nth-child(7),
.covaa-survey thead th:nth-child(7) {
	width: 6%;
	background-color: #beff95;
}

.covaa-survey tbody td:nth-child(8),
.covaa-survey thead th:nth-child(8) {
	width: 6%;
	background-color: #a1ff66;
}

/*For the 5 options page*/

#sq_128 tbody td:nth-child(2),
#sq_128 thead th:nth-child(2) {
	width: 5%;
	background-color: #c523ff;
}

#sq_128 tbody td:nth-child(3),
#sq_128 thead th:nth-child(3) {
	width: 5%;
	background-color: #da73ff;
}

#sq_128 tbody td:nth-child(4),
#sq_128 thead th:nth-child(4) {
	width: 5%;
	background-color: transparent;
}

#sq_128 tbody td:nth-child(5),
#sq_128 thead th:nth-child(5) {
	width: 5%;
	background-color: #beff95;
}

#sq_128 tbody td:nth-child(6),
#sq_128 thead th:nth-child(6) {
	width: 5%;
	background-color: #a1ff66;
}

/*------ todo: studentdash.css ------*/

/*Top menu bar css*/

.bg-light {
  background-color: #26418F !important;
  /*#2962ff #3f51b5*/
  color: white;
  border-radius: 0px;
}

#nav-container {
  padding-right: 0px;
}

#page-title {
  color: #83C8F6;
  font-size: 16px !important;
  line-height: 1.5;
  padding-top: 5px;
}
/*End of Top menu bar css*/

.nav-pills > li .active{
  background-color: #337ab7;
  border-radius: 0px;
  color: #fff;
}

.nav-pills > li > a {
    color: #337ab7;
    border-radius: 0px;
    background-color: lightgrey;
    padding: 4px;
    padding-bottom: 2.5px;

}

.nav-pills > li {
  background-color: lightgrey;
}

.nav-pills > li > a:hover {
  text-decoration: underline;
  color: black;
  background-color: #337ab7;
  border-radius: 0px;
}

#sidenav {
  width: 100%;
}

#container {
  margin: 0px;
  padding: 10px;
  background-color: #F4F5F9;
}

#page_title {
  margin: 1px auto 7px auto;
}

#subjectLabel,
#classLabel,
#classSelect,
#videoLabel,
#videoSelect {
  /*display: none;*/
  margin-left: 5px;
}

.grid_tile {
  height: 500px;
  /* width: 250px; */
  /*max-width: 450px;*/
  background-color: #FFFFFF;
  margin: 10px 10px 15px 0;
  color: #2c292d;
  font-size: 2vw;
  /*text-align: center; Please leave this commented off. Affects the SNA plotting*/
  border-radius: 4px;
  border: solid 1px #676A7C;
  background-image: -webkit-linear-gradient(0deg, white 0%, white 100%);
}

.grid_tile_bar {
  height: 320px;
}

.grid_tile_bar1 {
  /*height: 500px;*/
}

.grid_tile_annotations {
  height: 600px;
}

.grid_tile_sna {
  width: 470px;
  height: 500px;
}

#sna_container {
  width: 100%;
  height: 86%;
  /*border: 1px solid black;
				border-radius: 0.5px;*/
}

#btn_sna_generate,
#sna_info {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  border: 1px solid #666666;
  border-radius: 3px;
  background-color: #337ab7;
  color: white;
  cursor: pointer;
}

.reflection {
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  border: 1px solid #666666;
  border-radius: 3px;
  background-color: #e8993a;
  color: white;
  cursor: pointer;
}

#btn_sna_generate:hover,
#sna_info:hover,
.reflection:hover,
#reflection-submit:hover {
  background-color: grey;
}

.grid_title {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  vertical_align: center;
  padding: 7px 5px 0px 5px;
}

.grid_number {
  font-size: 60px;
}

.grid_text {
  font-size: 12px;
  padding: 0 10px 0 10px;
}

.grid_chart {
  display: inline-block;
  /*To center align the chart*/
  height: 450px;
  width: 450px;
}

.grid_chart21cc {
  display: inline-block;
  /*To center align the chart*/
  height: 275px;
  width: 500px;
}

.grid_chart_o {
  display: inline-block;
  /*To center align the chart*/
  height: 260px;
  width: 50%;
}

#annotationQns_chart,
annotations_chart {
  display: inline-block;
  /*To center align the chart*/
  height: 200px;
  width: 100%;
}

.grid_link {
  text-align: center;
  padding: 0 10px 5px 10px;
}

.dataContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  border-top: 1px solid grey;
}

.grid_tile_student {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 10px;
  color: #676A7C;
  border-radius: 4px;
  border: solid 1px #676A7C;
  background-image: -webkit-linear-gradient(0deg, white 0%, white 100%);
}

.grid_tile_student > button {
  float: right;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.modal-body {
  /*min-height: 300px;*/
}

.student-label {
  margin: 5px;
  padding: 5px;
  border: 3px solid;
  border-radius: 5px;
  text-align: center;
}

.student-label a {
  font-weight: bold;
}

.positive {
  border-color: #00ACEC;
}

.positive-bg {
  background-color: #00ACEC;
}

.negative {
  border-color: #FF1655;
}

.negative-bg {
  background-color: #FF1655;
}

.list-group {
  font-weight: normal;
  text-align: left;
}

.col-md-12,
.col-sm-12,
.col-xs-12,
.col-md-10,
.col-sm-10,
.col-xs-10 {
  padding-left: 0px;
}

#sidebar {
  padding-top: 10px;
}

/*21CC Learning Mindset Chart styling*/

#learning_mindset_container {
  padding: 8px 0px -1px 0px;
}

.progress-title {
  font-size: 12px;
  color: #666666;
  margin: 0 0 10px 0;
  text-align: left;
}

.progress {
  height: 15px;
  line-height: 8px;
  border-radius: 20px;
  background: #f0f0f0;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  border-radius: 20px 0 0 20px;
  -webkit-animation: animate-positive 2s;
          animation: animate-positive 2s;
}

.progress .progress-value {
  display: block;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: -1;
  right: 8px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}

@keyframes animate-positive {
  0% {
    width: 0%;
  }
}

/*End of 21CC Learning Mindset Chart styling*/

/*21cc Learning Strategies Styles*/

/*.two-column-comp {
			  width: 90%;
			  background: #eee;
			  padding: 1em;
			  margin: 1em auto;
			  box-sizing: border-box;
			  border: 1px solid #ccc;
			}*/

.two-column-comp {
  width: 97%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.two-column-comp th {
  font-size: 12px;
  /*1.2em;*/
  text-align: center;
  font-weight: normal;
  /*padding-right:10px;*/
}

.two-column-comp td {
  text-align: right;
  font-weight: bold;
  border-bottom: 1px solid #fbfbfb;
  width: 20%;
  padding: .15em .25em;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
}

.two-column-comp-me-before td:nth-child(2) {
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  text-align: right;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, right top, left top, from(#b36aff), to(#b36aff));
  background-image: linear-gradient(to left, #b36aff, #b36aff);
  background-position: right top;
}

.two-column-comp-me-before td:nth-child(3) {
  text-align: left;
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  background-image: -webkit-gradient(linear, right top, left top, from(#b36aff), to(#b36aff));
  background-image: linear-gradient(right, #b36aff, #b36aff);
  background-position: left top;
}

.two-column-comp-me-now td:nth-child(2) {
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  text-align: right;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, right top, left top, from(#7d3ae8), to(#7d3ae8));
  background-image: linear-gradient(to left, #7d3ae8, #7d3ae8);
  background-position: right top;
}

.two-column-comp-me-now td:nth-child(3) {
  text-align: left;
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  background-image: -webkit-gradient(linear, right top, left top, from(#7d3ae8), to(#7d3ae8));
  background-image: linear-gradient(right, #7d3ae8, #7d3ae8);
  background-position: left top;
}

.two-column-comp-class-before td:nth-child(2) {
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  text-align: right;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, right top, left top, from(#ffca69), to(#ffca69));
  background-image: linear-gradient(to left, #ffca69, #ffca69);
  background-position: right top;
}

.two-column-comp-class-before td:nth-child(3) {
  text-align: left;
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  background-image: -webkit-gradient(linear, right top, left top, from(#ffca69), to(#ffca69));
  background-image: linear-gradient(right, #ffca69, #ffca69);
  background-position: left top;
}

.two-column-comp-class-now td:nth-child(2) {
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  text-align: right;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, right top, left top, from(#e8993a), to(#e8993a));
  background-image: linear-gradient(to left, #e8993a, #e8993a);
  background-position: right top;
}

.two-column-comp-class-now td:nth-child(3) {
  text-align: left;
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  background-image: -webkit-gradient(linear, right top, left top, from(#e8993a), to(#e8993a));
  background-image: linear-gradient(right, #e8993a, #e8993a);
  background-position: left top;
}

.two-column-comp-top-before td:nth-child(2) {
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  text-align: right;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, right top, left top, from(#79b8ff), to(#79b8ff));
  background-image: linear-gradient(to left, #79b8ff, #79b8ff);
  background-position: right top;
}

.two-column-comp-top-before td:nth-child(3) {
  text-align: left;
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  background-image: -webkit-gradient(linear, right top, left top, from(#79b8ff), to(#79b8ff));
  background-image: linear-gradient(right, #79b8ff, #79b8ff);
  background-position: left top;
}

.two-column-comp-top-now td:nth-child(2) {
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  text-align: right;
  opacity: 0.7;
  background-image: -webkit-gradient(linear, right top, left top, from(#4188cc), to(#4188cc));
  background-image: linear-gradient(to left, #4188cc, #4188cc);
  background-position: right top;
}

.two-column-comp-top-now td:nth-child(3) {
  text-align: left;
  width: 40%;
  color: white;
  background-color: lightgrey;
  /*text-shadow: 1px 2px #222;*/
  background-image: -webkit-gradient(linear, right top, left top, from(#4188cc), to(#4188cc));
  background-image: linear-gradient(right, #4188cc, #4188cc);
  background-position: left top;
}

#learningStrategiesLegend {
  padding: 10px 0 0 0;
}

#label_me_now,
#label_class_now,
#label_topPeer_now,
#label_me_before,
#label_class_before,
#label_topPeer_before {
  font-size: 12px;
  padding-left: 7px;
  cursor: pointer;
}

#label_me_before:hover,
#label_class_before:hover,
#label_topPeer_before:hover,
#label_me_now:hover,
#label_class_now:hover,
#label_topPeer_now:hover {
  color: black;
}

#label_class_before,
#label_topPeer_before,
#label_class_now,
#label_topPeer_now {
  color: lightgrey;
}

#tr_class_before,
#tr_topPeer_before,
#tr_class_now,
#tr_topPeer_now {
  opacity: 0;
}

.square {
  display: inline-block;
  padding: 5px;
  width: 5px;
  height: 5px;
  margin-left: 10px;
}

#square_me_now {
  background-color: #7d3ae8;
}

#square_class_now {
  background-color: #e8993a;
}

#square_topPeer_now {
  background-color: #4188cc;
}

#square_me_before {
  background-color: #b36aff;
}

#square_class_before {
  background-color: #ffca69;
}

#square_topPeer_before {
  background-color: #79b8ff;
}

/*End of 21CC Learning Strategies Styles*/

/*Reflections module styles*/

#lightbox-content input[type=text],
#lightbox-content select,
#lightbox-content textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

#lightbox-content input[type=submit] {
  /*margin-left: 10px;
				margin-top: 10px;*/
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  border: 1px solid #666666;
  border-radius: 3px;
  background-color: #337ab7;
  color: white;
  cursor: pointer;
}

#lightbox-content input[type=submit]:hover {
  background-color: #45a049;
}

#lightbox-bg {
  cursor: not-allowed;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 822px;
  min-height: 100%;
  /*background-image:url('icons/lightbox.png');*/
  background-repeat: repeat;
  z-index: 1;
  display: none;
}

#lightbox-popup {
  cursor: move;
  margin-left: calc((100% - 400px)/2);
  margin-right: calc((100% - 400px)/2);
  position: absolute;
  top: 15%;
  width: 400px;
  height: auto;
  /*503px*/
  padding: 16px 16px 0px 16px;
  background-color: #fafafa;
  z-index: 2;
  display: none;
  color: #333333;
  border: 3px solid grey;
}

#lightbox-close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  border-radius: 16%;
  height: 24px;
  width: 24px;
}

#reflect_title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

#reflect_mini_title {
  font-size: 12px;
  margin-top: 4px;
  padding-bottom: 12px;
  color: #7B7A7A;
}

#lightbox-popup label,
textarea {
  font-size: 12px;
}

/*End of Reflections module styles*/

#footer {
  text-align: center;
}

#footer > label {
  font-weight: normal;
}

#goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


#covaa-annotation-tag-group .bootstrap-tagsinput {
	width: 100% !important;
  }

.bootstrap-tagsinput .tag {
    color: white !important;
    background: #26418F !important;
}

#covaa-tag-loading{
	display:inline-block; 
	display:none;
}

.modal-content .slider { 
	position: relative; 
	-webkit-appearance: none; 
	width: 100%; 
	height: 15px; 
	border-radius: 5px;   
	background: #d3d3d3 !important; 
	outline: none; 
	opacity: 0.7; 
	-webkit-transition: .2s; 
	transition: opacity .2s; 
	background: transparent; 
  } 
  .slider::-webkit-slider-thumb { 
	  -webkit-appearance: none; 
	  appearance: none; 
	  width: 5px; 
	  height: 20px; 
	/* border-radius: 50%;  */ 
	border-radius: 0; 
   
	  background: #373a3c; 
	  cursor: pointer; 
  } 
  .slider::-moz-range-thumb { 
	  width: 5px; 
	  height: 20px; 
	/* border-radius: 50%; */ 
	border-radius: 0; 
	  background: #373a3c; 
	  cursor: pointer; 
  } 

  .covaa-annotation-top-preview {
	list-style-type: none;
	font-weight: bolder;
	padding: 0;
  }

  .covaa-annotation-top-preview .name {
	font-size: 1.3em;
	color: #5C6BC0;
  }

  .covaa-annotation-top-preview .content {
	padding-left: 1.5em;
	color: #f29b87;

}

.mask-loading {
    position: fixed;
    height: 3000px;
    width: 100%;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: 0.8;
	text-align: center;
	padding-top: 15em;
}

/**----- trumboyg css override -----**/ 
.trumbowyg-button-pane button { 
    color: #262626; 
} 
.trumbowyg button,  
.trumbowyg input,  
.trumbowyg optgroup,  
.trumbowyg select,  
.trumbowyg textarea { 
  color: #262626; 
} 
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit { 
  background: #337ab7; 
} 
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus,  
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover { 
  background: #00A8E4; 
}

.column{
	height: 900px;
	width: 50%;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*----- new css 08082018 ------*/
hr{
	margin-top: 5px;
	margin-bottom: 1em;
}

.fade:not(.show) {
    opacity: 1 !important;
}

.padding-0-5{
	padding: 0 0.5em;
}

.pink{
	color: #ff2d9d !important;
}

.blue{
	color: #1a90ff !important;
}

.green{
	color: #81e20e !important;
}

.white{
	color: #FFFFFF !important;
}

.control-row .delete{
	display: none;
}

#covaa-pagination{
	float:right;
}

#close-nav{
    padding: 2em;
	float: right;
	
}

#close-nav:hover{
	cursor: pointer;
}

#annotation-covaa-tag .bootstrap-tagsinput{
	display: none;
}